body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 1em 2em;
    background-color: rgb(27, 25, 25);
    color: white;
    border: none;
    border-radius: 1000px;
    font-family: 'Courier New', Courier, monospace;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.5em;
}

button::after {
    content: '';
    position: absolute;
    height: 109%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #008cff, #e100ff, #00ff9e, #ff9e00);
    z-index: -1;
}

button:hover {
    z-index: 0;
    box-shadow: 40px 0 100px #00aeff, -40px 0 100px #ea00ff;
    transition: 0.5s;
    cursor: pointer;
}